.slider:first-child {
  @apply bg-purple-600;
}
.outer_circle {
    background-image: linear-gradient(to left, #743ad5, #d53a9d);
    width: 90px;
    height: 90px;
    border-radius: 50%;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.inner_circle {
    border-radius: 50%;
    box-shadow: 0px 0px 9px 4px #747DE8;
    animation: glow 2s linear infinite alternate;
  }

.inner_circle_paused {
    border-radius: 50%;
    box-shadow: 0px 0px 9px 4px #747DE8;
    animation: reverseGlow 1s reverse linear;
}

@keyframes glow{
    to {
      box-shadow: 0px 0px 20px 12px #851bf6;
    }
  }

@keyframes reverseGlow {
  to {
    box-shadow: 0px 0px 20px 12px #851bf6;
  }
}